In [145]:
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
from datetime import timedelta
from sklearn.preprocessing import LabelEncoder
from keras.preprocessing.sequence import TimeseriesGenerator
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import ConvLSTM2D

%matplotlib inline
import matplotlib.pyplot as plt

# Load DataFrames

In [146]:
oil = pd.read_csv("oil.csv")
holiday_events = pd.read_csv("holidays_events.csv")
stores = pd.read_csv("stores.csv")
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
transactions = pd.read_csv("transactions.csv")

In [147]:
test.dtypes

id              int64
date           object
store_nbr       int64
family         object
onpromotion     int64
dtype: object

In [148]:
full_df = pd.concat([train, test], sort=True)

In [149]:
full_df = full_df.merge(stores, how = 'left', on = 'store_nbr')
full_df = full_df.merge(oil, how = 'left', on = 'date')
full_df = full_df.merge(transactions, how = 'left', on = ['date','store_nbr'])
full_df = full_df.merge(holiday_events, how = 'left', on = 'date')

In [150]:
full_df.date = pd.to_datetime(full_df.date)
full_df['dayofwk'] = full_df['date'].dt.day_name()
full_df['week'] = full_df['date'].dt.isocalendar().week
full_df['month'] = full_df['date'].dt.month
full_df['year'] = full_df['date'].dt.year
full_df = full_df.rename(columns={'type_x' : 'store_type','type_y':'holiday_type'})

# Dealing with Null Values

## Oil

In [162]:
full_df['dcoilwtico'] = full_df['dcoilwtico'].interpolate(limit_direction='both')

In [163]:
full_df['dcoilwtico']

0          93.14
1          93.14
2          93.14
3          93.14
4          93.14
           ...
3082855    47.26
3082856    47.26
3082857    47.26
3082858    47.26
3082859    47.26
Name: dcoilwtico, Length: 3082860, dtype: float64

## Transactions

In [152]:
full_df['transactions'] = full_df['transactions'].fillna(0)

## Holiday_events

In [153]:
full_df['holiday_type'] = full_df['holiday_type'].fillna('Work Day')
full_df['transferred'] = full_df['transferred'].fillna(False)

# Label Encoding Categorical Variables

In [9]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3082860 entries, 0 to 3082859
Data columns (total 21 columns):
 #   Column        Dtype
---  ------        -----
 0   date          datetime64[ns]
 1   family        object
 2   id            int64
 3   onpromotion   int64
 4   sales         float64
 5   store_nbr     int64
 6   city          object
 7   state         object
 8   store_type    object
 9   cluster       int64
 10  dcoilwtico    float64
 11  transactions  float64
 12  holiday_type  object
 13  locale        object
 14  locale_name   object
 15  description   object
 16  transferred   bool
 17  dayofwk       object
 18  week          UInt32
 19  month         int64
 20  year          int64
dtypes: UInt32(1), bool(1), datetime64[ns](1), float64(3), int64(6), object(9)
memory usage: 488.0+ MB

In [10]:
full_df

,date,family,id,onpromotion,sales,store_nbr,city,state,store_type,cluster,...,transactions,holiday_type,locale,locale_name,description,transferred,dayofwk,week,month,year
0,2013-01-01,AUTOMOTIVE,0,0,0.0,1,Quito,Pichincha,D,13,...,0.0,Holiday,National,Ecuador,Primer dia del ano,False,Tuesday,1,1,2013
1,2013-01-01,BABY CARE,1,0,0.0,1,Quito,Pichincha,D,13,...,0.0,Holiday,National,Ecuador,Primer dia del ano,False,Tuesday,1,1,2013
2,2013-01-01,BEAUTY,2,0,0.0,1,Quito,Pichincha,D,13,...,0.0,Holiday,National,Ecuador,Primer dia del ano,False,Tuesday,1,1,2013
3,2013-01-01,BEVERAGES,3,0,0.0,1,Quito,Pichincha,D,13,...,0.0,Holiday,National,Ecuador,Primer dia del ano,False,Tuesday,1,1,2013
4,2013-01-01,BOOKS,4,0,0.0,1,Quito,Pichincha,D,13,...,0.0,Holiday,National,Ecuador,Primer dia del ano,False,Tuesday,1,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3082855,2017-08-31,POULTRY,3029395,1,NaN,9,Quito,Pichincha,B,6,...,0.0,Work Day,NaN,NaN,NaN,False,Thursday,35,8,2017
3082856,2017-08-31,PREPARED FOODS,3029396,0,NaN,9,Quito,Pichincha,B,6,...,0.0,Work Day,NaN,NaN,NaN,False,Thursday,35,8,2017
3082857,2017-08-31,PRODUCE,3029397,1,NaN,9,Quito,Pichincha,B,6,...,0.0,Work Day,NaN,NaN,NaN,False,Thursday,35,8,2017
3082858,2017-08-31,SCHOOL AND OFFICE SUPPLIES,3029398,9,NaN,9,Quito,Pichincha,B,6,...,0.0,Work Day,NaN,NaN,NaN,False,Thursday,35,8,2017
3082859,2017-08-31,SEAFOOD,3029399,0,NaN,9,Quito,Pichincha,B,6,...,0.0,Work Day,NaN,NaN,NaN,False,Thursday,35,8,2017

In [154]:
# label encoding all object type variables
lbl_encoder = LabelEncoder()
for col in full_df.columns:
    if full_df[col].dtype == 'object':
        full_df[col] = lbl_encoder.fit_transform(full_df[col])

In [155]:
# one hot encode variables that are not large 

onehot_cols = ['store_type', 'holiday_type', 'dayofwk']

for col in onehot_cols:
    k = full_df[col].nunique()
    new_col = ['{}_{}'.format(col,k) for k in range(1,k+1)]
    tmp_df = pd.get_dummies(full_df[col]).set_axis(new_col, axis = 1, inplace = False)
    full_df = pd.concat([full_df,tmp_df], axis = 1)
    full_df = full_df.drop(columns = col)

In [156]:
# Drop the id from the dataframe

full_df = full_df.drop(['id'], axis = 1)

In [161]:
train.groupby(['date']).agg({'sales':'mean', 'onpromotion':'mean'})

                 sales  onpromotion
date
2013-01-01    1.409438     0.000000
2013-01-02  278.390807     0.000000
2013-01-03  202.840197     0.000000
2013-01-04  198.911154     0.000000
2013-01-05  267.873244     0.000000
...                ...          ...
2017-08-11  463.733851     7.956790
2017-08-12  444.798280     4.664422
2017-08-13  485.768618     5.209315
2017-08-14  427.004717     4.513468
2017-08-15  427.980884     5.951178

[1684 rows x 2 columns]

In [67]:
## group by date and store number, aggregate sales

sale_store_df = full_df[['date', 'sales', 'store_nbr']]
sale_store_df = sale_store_df.loc[sale_store_df['date'] < pd.to_datetime('2017/08/16', format = '%Y/%m/%d')]
sale_store_df1 = sale_store_df.groupby(['date', 'store_nbr']).sum()
sale_store_df1 = sale_store_df1.reset_index()

              date     sales  store_nbr
0       2013-01-01     0.000          1
1       2013-01-01     0.000          1
2       2013-01-01     0.000          1
3       2013-01-01     0.000          1
4       2013-01-01     0.000          1
...            ...       ...        ...
3054343 2017-08-15   438.133          9
3054344 2017-08-15   154.553          9
3054345 2017-08-15  2419.729          9
3054346 2017-08-15   121.000          9
3054347 2017-08-15    16.000          9

[3054348 rows x 3 columns]

In [94]:
## Make store_nbr array of all the store numbers
store_nbr = sale_store_df1['store_nbr'].unique()

54

In [138]:
## Initialize empty time series dataframe
ts_data = []

In [136]:
sale_store_df1.loc[sale_store_df1['store_nbr']==1][['store_nbr','sales']].to_numpy().tolist()

[[1.0, 0.0],
 [1.0, 7417.147999999999],
 [1.0, 5873.244001],
 [1.0, 5919.879001],
 [1.0, 6318.78501],
 [1.0, 2199.0869999999995],
 [1.0, 6150.924],
 [1.0, 5597.181],
 [1.0, 6808.57899],
 [1.0, 4757.714999999999],
 [1.0, 5494.015979999999],
 [1.0, 5467.782980000001],
 [1.0, 2693.878004],
 [1.0, 5651.68501],
 [1.0, 5204.174],
 [1.0, 6733.596002],
 [1.0, 4942.473999999999],
 [1.0, 5923.124001],
 [1.0, 5895.146000000001],
 [1.0, 2371.133995],
 [1.0, 5227.602019999999],
 [1.0, 5298.986],
 [1.0, 6259.346],
 [1.0, 4861.524],
 [1.0, 5577.701],
 [1.0, 5290.32701],
 [1.0, 2439.3779999999997],
 [1.0, 4976.808000000001],
 [1.0, 4681.511000499999],
 [1.0, 6118.887],
 [1.0, 4712.576999999999],
 [1.0, 5782.779000000001],
 [1.0, 5706.9190100000005],
 [1.0, 2267.9829999999997],
 [1.0, 5574.040999999999],
 [1.0, 5080.786000000001],
 [1.0, 6107.432001],
 [1.0, 4452.242995],
 [1.0, 5593.812],
 [1.0, 4435.572],
 [1.0, 1199.1350000000002],
 [1.0, 1344.749998],
 [1.0, 1852.0150099999998],
 [1.0, 6121.725],
 [1.0, 4999.187999],
 [1.0, 5387.78798],
 [1.0, 5625.384999999999],
 [1.0, 1747.0810099999997],
 [1.0, 5343.779020000001],
 [1.0, 5229.718],
 [1.0, 6024.07],
 [1.0, 5325.731000000001],
 [1.0, 5781.510002000001],
 [1.0, 5426.989018],
 [1.0, 2295.712],
 [1.0, 5333.274984],
 [1.0, 4710.27898],
 [1.0, 6054.942997000001],
 [1.0, 5009.692009999999],
 [1.0, 5940.5560000000005],
 [1.0, 5817.466999],
 [1.0, 2436.8269999999998],
 [1.0, 6094.491999],
 [1.0, 4968.634010000001],
 [1.0, 6845.538],
 [1.0, 5199.071000000002],
 [1.0, 6010.675998000001],
 [1.0, 5665.5109999999995],
 [1.0, 2601.404],
 [1.0, 5504.89798],
 [1.0, 4965.084999999999],
 [1.0, 6077.77601],
 [1.0, 4557.174],
 [1.0, 5638.477999999999],
 [1.0, 5799.479],
 [1.0, 2258.610998],
 [1.0, 5161.345],
 [1.0, 4942.25201],
 [1.0, 6195.921999999999],
 [1.0, 5097.209],
 [1.0, 5795.069],
 [1.0, 5518.596000000001],
 [1.0, 2056.8799999999997],
 [1.0, 5233.412989999999],
 [1.0, 4812.276],
 [1.0, 6387.455],
 [1.0, 5686.706],
 [1.0, 2001.729],
 [1.0, 4353.33],
 [1.0, 2042.369],
 [1.0, 6144.880999999999],
 [1.0, 5774.184998999999],
 [1.0, 7074.9529999999995],
 [1.0, 4896.4980000000005],
 [1.0, 6304.927],
 [1.0, 5594.088],
 [1.0, 2363.7399994999996],
 [1.0, 5378.18],
 [1.0, 4803.334964],
 [1.0, 6835.486999999999],
 [1.0, 4701.459],
 [1.0, 6212.33],
 [1.0, 5493.952000000001],
 [1.0, 2209.921008],
 [1.0, 5462.558],
 [1.0, 5367.8099999999995],
 [1.0, 6207.2429999999995],
 [1.0, 5004.652996],
 [1.0, 5339.899],
 [1.0, 5759.571000000001],
 [1.0, 2449.28],
 [1.0, 5504.771],
 [1.0, 5085.242999999999],
 [1.0, 7112.197],
 [1.0, 4722.563002],
 [1.0, 6316.556],
 [1.0, 5334.13899],
 [1.0, 2427.34],
 [1.0, 4488.657],
 [1.0, 5478.0779999999995],
 [1.0, 2677.930005],
 [1.0, 5648.427],
 [1.0, 7051.153002999999],
 [1.0, 5797.9369799999995],
 [1.0, 2723.904],
 [1.0, 5813.939],
 [1.0, 5586.958999999999],
 [1.0, 6351.424001],
 [1.0, 5049.362],
 [1.0, 6135.394],
 [1.0, 6289.374999999999],
 [1.0, 3809.106000000001],
 [1.0, 5637.614],
 [1.0, 5528.375005],
 [1.0, 5901.737999999999],
 [1.0, 5459.329],
 [1.0, 6021.054],
 [1.0, 5681.288],
 [1.0, 2037.1320099999998],
 [1.0, 5221.561000000001],
 [1.0, 4932.974],
 [1.0, 5896.853],
 [1.0, 5426.115],
 [1.0, 2195.219],
 [1.0, 4255.778004000001],
 [1.0, 1621.783],
 [1.0, 5194.1089999999995],
 [1.0, 5133.556996000001],
 [1.0, 6685.573],
 [1.0, 4949.255],
 [1.0, 6155.988],
 [1.0, 6180.505],
 [1.0, 1729.6100000000004],
 [1.0, 6302.1449999999995],
 [1.0, 5893.591],
 [1.0, 7261.879999999999],
 [1.0, 5565.632000999999],
 [1.0, 6704.611],
 [1.0, 5537.825],
 [1.0, 2331.649],
 [1.0, 5703.6089999999995],
 [1.0, 5368.142000000001],
 [1.0, 6200.097989999999],
 [1.0, 4737.132999999999],
 [1.0, 6056.953],
 [1.0, 5452.686009999999],
 [1.0, 1983.074],
 [1.0, 5964.641020000001],
 [1.0, 5096.605],
 [1.0, 6747.888002],
 [1.0, 4725.838],
 [1.0, 5608.436],
 [1.0, 5257.656999999999],
 [1.0, 2207.9660000000003],
 [1.0, 5225.463],
 [1.0, 17094.321000000004],
 [1.0, 5962.6939999999995],
 [1.0, 4822.808],
 [1.0, 6044.440996],
 [1.0, 5525.238980000001],
 [1.0, 2154.501],
 [1.0, 5837.525],
 [1.0, 5787.7119999999995],
 [1.0, 13342.826000000001],
 [1.0, 5126.38599],
 [1.0, 5998.663999999999],
 [1.0, 5157.274],
 [1.0, 2257.248003],
 [1.0, 5785.948999],
 [1.0, 5276.898],
 [1.0, 6142.587999],
 [1.0, 4929.228000000001],
 [1.0, 5600.981],
 [1.0, 5136.321000999999],
 [1.0, 1841.979],
 [1.0, 5314.50201],
 [1.0, 5756.529],
 [1.0, 5843.33001],
 [1.0, 4763.8060000000005],
 [1.0, 6212.645999999999],
 [1.0, 5084.118001000001],
 [1.0, 1905.6700000000003],
 [1.0, 5047.601000000001],
 [1.0, 5644.172999999999],
 [1.0, 5855.491],
 [1.0, 5112.657],
 [1.0, 5635.064000000001],
 [1.0, 5003.337001000001],
 [1.0, 1795.1539999999998],
 [1.0, 5769.125],
 [1.0, 4467.499000000001],
 [1.0, 5996.35],
 [1.0, 6136.8730000000005],
 [1.0, 5517.758999999999],
 [1.0, 5394.977],
 [1.0, 1837.975005],
 [1.0, 5594.295],
 [1.0, 5130.626000000001],
 [1.0, 5952.390999999999],
 [1.0, 4739.293999999999],
 [1.0, 5630.461],
 [1.0, 3537.348996],
 [1.0, 1862.6440003],
 [1.0, 5528.931],
 [1.0, 4613.630999999999],
 [1.0, 5701.057],
 [1.0, 4974.4039999999995],
 [1.0, 5719.50098],
 [1.0, 4919.993996],
 [1.0, 1843.3600000000001],
 [1.0, 5127.269],
 [1.0, 4658.069996000001],
 [1.0, 5531.862],
 [1.0, 4568.638999999999],
 [1.0, 5678.172998],
 [1.0, 4615.946000000001],
 [1.0, 2079.300996],
 [1.0, 5323.87],
 [1.0, 5163.910989999999],
 [1.0, 5864.234999999999],
 [1.0, 4654.188],
 [1.0, 5969.395],
 [1.0, 5312.932],
 [1.0, 2604.8160000000003],
 [1.0, 5619.513],
 [1.0, 5457.172],
 [1.0, 6430.77699],
 [1.0, 5171.709019999999],
 [1.0, 6155.6130299999995],
 [1.0, 5474.834999999999],
 [1.0, 2208.753004],
 [1.0, 5344.079000000001],
 [1.0, 4829.314999999999],
 [1.0, 6098.9039999999995],
 [1.0, 5374.129000000001],
 [1.0, 5906.79599],
 [1.0, 5351.597000000001],
 [1.0, 2554.649004],
 [1.0, 6000.15899],
 [1.0, 5010.839],
 [1.0, 5642.8009999999995],
 [1.0, 5064.117990000001],
 [1.0, 5621.1069800000005],
 [1.0, 5573.482],
 [1.0, 2216.21],
 [1.0, 5487.169000000001],
 [1.0, 5622.482002],
 [1.0, 6198.481000000001],
 [1.0, 5245.918],
 [1.0, 6130.22],
 [1.0, 5268.830999999999],
 [1.0, 2694.198999999999],
 [1.0, 5716.80702],
 [1.0, 6542.956000000001],
 [1.0, 7378.659999999999],
 [1.0, 5434.256019999999],
 [1.0, 6844.98],
 [1.0, 5555.948020000001],
 [1.0, 2523.411],
 [1.0, 5765.59299],
 [1.0, 5732.351999999999],
 [1.0, 6104.36699],
 [1.0, 5369.6939999999995],
 [1.0, 4216.15304],
 [1.0, 4028.236],
 [1.0, 2329.071],
 [1.0, 5285.170000000001],
 [1.0, 5423.21],
 [1.0, 6121.037],
 [1.0, 5657.76498],
 [1.0, 6565.253],
 [1.0, 5723.311019999999],
 [1.0, 2550.309995],
 [1.0, 5879.459],
 [1.0, 5429.208],
 [1.0, 6429.410989999999],
 [1.0, 4811.803004000001],
 [1.0, 6262.030001],
 [1.0, 5558.9349999999995],
 [1.0, 2676.07501],
 [1.0, 5494.163],
 [1.0, 5739.276],
 [1.0, 5845.980006],
 [1.0, 5137.648],
 [1.0, 7045.107],
 [1.0, 5140.715],
 [1.0, 2613.7060010000005],
 [1.0, 5930.201000000001],
 [1.0, 6376.740004],
 [1.0, 6596.109],
 [1.0, 5574.360001000001],
 [1.0, 7560.176000000001],
 [1.0, 5711.289999999999],
 [1.0, 2787.438],
 [1.0, 5828.91598],
 [1.0, 5235.320000000001],
 [1.0, 7397.795],
 [1.0, 5834.099],
 [1.0, 6829.481000000001],
 [1.0, 5812.263000000001],
 [1.0, 2389.143],
 [1.0, 6396.04003],
 [1.0, 6475.073998999999],
 [1.0, 7099.558],
 [1.0, 5481.0779999999995],
 [1.0, 6937.8550000000005],
 [1.0, 5538.411999999999],
 [1.0, 2329.674003],
 [1.0, 6508.036000000001],
 [1.0, 5917.107000000001],
 [1.0, 6767.214999999998],
 [1.0, 5409.573],
 [1.0, 6520.255000000002],
 [1.0, 6046.875999999998],
 [1.0, 2846.6160079999995],
 [1.0, 6691.943],
 [1.0, 6333.197995999999],
 [1.0, 9158.644999],
 [1.0, 5920.25],
 [1.0, 3094.0350049999993],
 [1.0, 5387.647004],
 [1.0, 2435.633],
 [1.0, 6442.102],
 [1.0, 7488.414979999999],
 [1.0, 8486.090999999999],
 [1.0, 7966.511],
 [1.0, 7629.721],
 [1.0, 7158.148],
 [1.0, 3157.155],
 [1.0, 7651.485999],
 [1.0, 6812.793],
 [1.0, 9382.838029999999],
 [1.0, 7930.986],
 [1.0, 10906.77801],
 [1.0, 8320.063],
 [1.0, 10901.692000000003],
 [1.0, 11476.883],
 [1.0, 8536.046],
 [1.0, 6151.595],
 [1.0, 7440.179],
 [1.0, 4532.439],
 [1.0, 1819.251996],
 [1.0, 5754.394979999999],
 [1.0, 4618.153],
 [1.0, 0.0],
 [1.0, 12034.864999],
 [1.0, 11700.4514],
 [1.0, 10863.581999999999],
 [1.0, 4634.572999999999],
 [1.0, 10766.978000000001],
 [1.0, 9582.605008999999],
 [1.0, 13372.518999999998],
 [1.0, 9817.64],
 [1.0, 10688.5596],
 [1.0, 10123.369896000002],
 [1.0, 4477.6410000000005],
 [1.0, 10587.845000000001],
 [1.0, 9212.402],
 [1.0, 12945.3155],
 [1.0, 8728.828001],
 [1.0, 11014.489930000002],
 [1.0, 10084.039],
 [1.0, 4611.47],
 [1.0, 9262.298999999999],
 [1.0, 10658.404999999999],
 [1.0, 12342.995499999999],
 [1.0, 9154.47502],
 [1.0, 11079.889104000003],
 [1.0, 8688.380995],
 [1.0, 4675.985],
 [1.0, 9643.897019999999],
 [1.0, 8987.657],
 [1.0, 12354.567700000001],
 [1.0, 8977.837000000001],
 [1.0, 10591.1898],
 [1.0, 6642.345],
 [1.0, 2490.672988],
 [1.0, 6181.2740005],
 [1.0, 5704.709001],
 [1.0, 7413.176979999999],
 [1.0, 5684.776999999999],
 [1.0, 6527.8828],
 [1.0, 6081.824998000001],
 [1.0, 2393.5139994],
 [1.0, 5819.104],
 [1.0, 6135.150990000001],
 [1.0, 7494.975996],
 [1.0, 5631.581],
 [1.0, 7060.889999999999],
 [1.0, 6569.446],
 [1.0, 2770.94799],
 [1.0, 5684.369000000001],
 [1.0, 6545.479],
 [1.0, 6782.9310000000005],
 [1.0, 5634.3730000000005],
 [1.0, 6018.030599999999],
 [1.0, 6236.9529999999995],
 [1.0, 2334.053],
 [1.0, 6140.983],
 [1.0, 5916.787980000001],
 [1.0, 6044.603999999999],
 [1.0, 4832.924000000001],
 [1.0, 6684.7386],
 [1.0, 8303.31698],
 [1.0, 2341.381],
 [1.0, 2960.415],
 [1.0, 3861.036],
 [1.0, 13222.915],
 [1.0, 10616.615099999999],
 [1.0, 11837.09557],
 [1.0, 9916.469],
 [1.0, 5084.255],
 [1.0, 9983.393],
 [1.0, 9595.985],
 [1.0, 13517.538500000002],
 [1.0, 8686.630000000001],
 [1.0, 10067.9343],
 [1.0, 9029.67],
 [1.0, 5416.576],
 [1.0, 10120.124],
 [1.0, 9722.976999999999],
 [1.0, 11942.6265],
 [1.0, 8595.955],
 [1.0, 10828.4631],
 [1.0, 10091.753999999999],
 [1.0, 4504.294005000001],
 [1.0, 9187.036],
 [1.0, 9468.110999999999],
 [1.0, 11996.315999999999],
 [1.0, 8356.738000000001],
 [1.0, 10277.430836],
 [1.0, 10258.32],
 [1.0, 4553.45799],
 [1.0, 9569.716002000001],
 [1.0, 7030.401],
 [1.0, 7734.188999999999],
 [1.0, 5534.842001],
 [1.0, 7955.9678],
 [1.0, 6592.68202],
 [1.0, 3121.13],
 [1.0, 6745.323980000001],
 [1.0, 5399.66002],
 [1.0, 7089.189],
 [1.0, 5723.5229899999995],
 [1.0, 6603.9281],
 [1.0, 6133.685000000001],
 [1.0, 2462.7919899999993],
 [1.0, 5778.303],
 [1.0, 5928.375000000001],
 [1.0, 7022.799999999999],
 [1.0, 5588.881998000001],
 [1.0, 2998.201899],
 [1.0, 4332.51],
 [1.0, 2432.984004],
 [1.0, 6201.1800299999995],
 [1.0, 5553.08],
 [1.0, 8424.759],
 [1.0, 5813.0869999999995],
 [1.0, 7112.4723],
 [1.0, 6384.504989999999],
 [1.0, 2369.78],
 [1.0, 5777.804],
 [1.0, 5882.331999999999],
 [1.0, 7410.025010000001],
 [1.0, 2569.4809999999998],
 [1.0, 7872.436860000001],
 [1.0, 7047.21],
 [1.0, 2688.856],
 [1.0, 4868.707999],
 [1.0, 7284.114979999999],
 [1.0, 7393.54402],
 [1.0, 5546.6849999999995],
 [1.0, 7596.669400000001],
 [1.0, 7075.716980000001],
 [1.0, 2383.4170040000004],
 [1.0, 6006.815019999999],
 [1.0, 6703.55],
 [1.0, 6556.992000000001],
 [1.0, 5704.361],
 [1.0, 7313.1204],
 [1.0, 6081.558994000001],
 [1.0, 2589.567999],
 [1.0, 6796.845],
 [1.0, 6606.284984],
 [1.0, 6795.899000000001],
 [1.0, 5706.399004000001],
 [1.0, 6328.5587000000005],
 [1.0, 6006.517],
 [1.0, 2395.6219999999994],
 [1.0, 6066.194001],
 [1.0, 4984.334999],
 [1.0, 6934.918],
 [1.0, 5247.004],
 [1.0, 8215.244200000001],
 [1.0, 6041.625995],
 [1.0, 2802.719],
 [1.0, 7120.854999000001],
 [1.0, 6652.41298],
 [1.0, 7473.020005],
 [1.0, 6036.695998999999],
 [1.0, 7853.17813],
 [1.0, 6007.947001],
 [1.0, 2214.5039960000004],
 [1.0, 6228.620000000001],
 [1.0, 5886.04401],
 [1.0, 7314.068],
 [1.0, 5485.536019999999],
 [1.0, 7256.338299999999],
 [1.0, 7185.759000000001],
 [1.0, 1755.3670000000002],
 [1.0, 6469.287],
 [1.0, 5810.602999999999],
 [1.0, 6563.048],
 [1.0, 5595.294000000001],
 [1.0, 8202.7465],
 [1.0, 6671.7119999999995],
 [1.0, 2449.529],
 [1.0, 6320.216001000001],
 [1.0, 5659.71398],
 [1.0, 27884.72800799999],
 [1.0, 6012.036],
 [1.0, 8100.363500000001],
 [1.0, 6084.974979999999],
 [1.0, 2416.7680035],
 [1.0, 5970.379],
 [1.0, 9649.17298],
 [1.0, 14812.346000000001],
 [1.0, 19186.598000399994],
 [1.0, 11822.020999999999],
 [1.0, 8368.502],
 [1.0, 4429.332996000001],
 [1.0, 10168.345013999999],
 [1.0, 9100.60298],
 [1.0, 12147.940999999997],
 [1.0, 9155.299999],
 [1.0, 10780.602000000003],
 [1.0, 9308.511999999999],
 [1.0, 4499.209989999999],
 [1.0, 9980.273000000001],
 [1.0, 9225.375999999998],
 [1.0, 11970.10502],
 [1.0, 8708.170999999998],
 [1.0, 10811.153],
 [1.0, 9713.058000000003],
 [1.0, 3792.860001],
 [1.0, 10118.514004999999],
 [1.0, 9679.421000999999],
 [1.0, 11188.520009000002],
 [1.0, 8615.948],
 [1.0, 10000.73],
 [1.0, 8792.46503],
 [1.0, 3780.808],
 [1.0, 9018.716999999999],
 [1.0, 9249.057],
 [1.0, 10970.33899],
 [1.0, 9305.559000000001],
 [1.0, 7806.689],
 [1.0, 6057.59],
 [1.0, 2353.722],
 [1.0, 6894.018],
 [1.0, 6034.110000000001],
 [1.0, 6307.938999999999],
 [1.0, 5208.131999999999],
 [1.0, 7653.309],
 [1.0, 5666.582998999999],
 [1.0, 2320.3039999999996],
 [1.0, 6019.558000000001],
 [1.0, 5236.424],
 [1.0, 7177.143999999999],
 [1.0, 5829.9160010000005],
 [1.0, 6912.126000000001],
 [1.0, 5782.00302],
 [1.0, 2488.339],
 [1.0, 5838.877998999999],
 [1.0, 5242.299],
 [1.0, 6880.6880200000005],
 [1.0, 6034.2660000000005],
 [1.0, 6924.622],
 [1.0, 5699.9189989999995],
 [1.0, 2299.6360000000004],
 [1.0, 5579.97],
 [1.0, 5542.1539999999995],
 [1.0, 6601.723],
 [1.0, 4860.695000000001],
 [1.0, 7610.318998],
 [1.0, 6532.23],
 [1.0, 2912.434],
 [1.0, 10969.091999999999],
 [1.0, 10751.011999999999],
 [1.0, 12646.868],
 [1.0, 8847.568003999999],
 [1.0, 11518.21403],
 [1.0, 10191.576000000001],
 [1.0, 4787.518],
 [1.0, 10839.942998999997],
 [1.0, 10222.208],
 [1.0, 12134.201000000001],
 [1.0, 9783.738996],
 [1.0, 10121.306],
 [1.0, 9576.454],
 [1.0, 5032.4210005],
 [1.0, 9379.699],
 [1.0, 9769.905999999999],
 [1.0, 12013.201995],
 [1.0, 8527.191000000003],
 [1.0, 10086.329],
 [1.0, 10740.699999],
 [1.0, 4808.5990010000005],
 [1.0, 8939.85],
 [1.0, 9219.73699],
 [1.0, 12576.187],
 [1.0, 9321.836001000001],
 [1.0, 9878.165996000002],
 [1.0, 10779.001989999999],
 [1.0, 4752.113],
 [1.0, 9997.416],
 [1.0, 9332.828000000001],
 [1.0, 14093.201999999997],
 [1.0, 10415.538],
 [1.0, 12998.612017000001],
 [1.0, 11982.685],
 [1.0, 4996.582],
 [1.0, 9985.157],
 [1.0, 9149.682],
 [1.0, 12656.043],
 [1.0, 9144.302],
 [1.0, 5455.48],
 [1.0, 8605.298],
 [1.0, 4161.0740000000005],
 [1.0, 9958.742999999999],
 [1.0, 10530.82402],
 [1.0, 12210.306499999999],
 [1.0, 9387.886999999999],
 [1.0, 10479.596999999998],
 [1.0, 11063.902],
 [1.0, 5440.933999999999],
 [1.0, 9833.982],
 [1.0, 8768.161000000002],
 [1.0, 12626.884979999999],
 [1.0, 8583.776995999999],
 [1.0, 10218.456004],
 [1.0, 9671.527005],
 [1.0, 5161.1],
 [1.0, 10133.547998],
 [1.0, 8414.216],
 [1.0, 12226.11198],
 [1.0, 9255.495],
 [1.0, 11131.58],
 [1.0, 7928.994000000001],
 [1.0, 3242.056],
 [1.0, 4472.119998999999],
 [1.0, 10387.528],
 [1.0, 14717.784],
 [1.0, 9689.043000000001],
 [1.0, 10642.417997999997],
 [1.0, 10069.003],
 [1.0, 4750.965998],
 [1.0, 9189.821],
 [1.0, 9717.117999999999],
 [1.0, 12185.866999999998],
 [1.0, 9262.553009],
 [1.0, 9809.377000000002],
 [1.0, 10471.291],
 [1.0, 5420.276000000001],
 [1.0, 10206.562999],
 [1.0, 10905.223000000002],
 [1.0, 12583.194999999998],
 [1.0, 9345.748],
 [1.0, 10196.284996],
 [1.0, 10008.384999999998],
 [1.0, 5028.03899],
 [1.0, 9546.543],
 [1.0, 9275.025995],
 [1.0, 13066.438001999997],
 [1.0, 8407.379011],
 [1.0, 10104.487],
 [1.0, 9693.379004],
 [1.0, 4868.091998],
 [1.0, 11009.652004],
 [1.0, 9985.882999000001],
 [1.0, 13598.770000000002],
 [1.0, 10817.062],
 [1.0, 10996.84596],
 [1.0, 8846.294],
 [1.0, 4674.219999999999],
 [1.0, 10686.636],
 [1.0, 10861.7821],
 [1.0, 15642.7368],
 [1.0, 11736.022],
 [1.0, 10623.035999999998],
 [1.0, 10683.493995],
 [1.0, 5008.342000000001],
 [1.0, 11730.243999999997],
 [1.0, 12286.737998999999],
 [1.0, 13995.167999999998],
 [1.0, 11976.336026],
 [1.0, 13083.348000000002],
 [1.0, 12562.634],
 [1.0, 7662.177100999999],
 [1.0, 27486.616],
 [1.0, 13523.496000000001],
 [1.0, 12834.101],
 [1.0, 19403.345999999998],
 [1.0, 6548.209000000001],
 [1.0, 2818.98],
 [1.0, 9580.585000000001],
 [1.0, 11038.835000000001],
 [1.0, 10756.988000000001],
 [1.0, 0.0],
 [1.0, 4797.803000000001],
 [1.0, 5270.969],
 [1.0, 3035.146999],
 [1.0, 8494.916],
 [1.0, 6931.2140039999995],
 [1.0, 8341.813000000002],
 [1.0, 6301.889999999999],
 [1.0, 7622.522000000001],
 [1.0, 7375.163],
 [1.0, 2930.321],
 [1.0, 7320.509],
 [1.0, 7260.772019999999],
 [1.0, 7455.815],
 [1.0, 5525.602999999999],
 [1.0, 7622.985000000001],
 [1.0, 7521.470998],
 [1.0, 2915.4339999999997],
 [1.0, 7185.956999999999],
 [1.0, 6244.418],
 [1.0, 7495.844999999999],
 [1.0, 6531.595],
 [1.0, 7298.337],
 [1.0, 6537.567000000001],
 [1.0, 2610.2609980000007],
 [1.0, 6404.880999999999],
 [1.0, 5989.554],
 [1.0, 7486.482020000001],
 [1.0, 6773.12702],
 [1.0, 8636.572001999999],
 [1.0, 7274.061],
 [1.0, 3249.462],
 [1.0, 7915.996999999999],
 [1.0, 7162.597],
 [1.0, 7345.591],
 [1.0, 5934.152986],
 [1.0, 7519.286999999999],
 [1.0, 6761.33098],
 [1.0, 3035.288],
 [1.0, 6558.348980000001],
 [1.0, 6830.422999999999],
 [1.0, 6718.368],
 [1.0, 6056.028000000001],
 [1.0, 7323.950989],
 [1.0, 5419.901],
 [1.0, 1926.741],
 [1.0, 2053.5220000000004],
 [1.0, 1858.5620000000001],
 [1.0, 7123.381],
 [1.0, 5408.486000000001],
 [1.0, 7950.326999999999],
 [1.0, 7214.1849999999995],
 [1.0, 2932.0750000000003],
 [1.0, 6769.553],
 [1.0, 6157.185001000001],
 [1.0, 7147.01298],
 [1.0, 5764.931999],
 [1.0, 7717.9619999999995],
 [1.0, 6960.799999999999],
 [1.0, 3324.6320000000005],
 [1.0, 6953.34],
 [1.0, 7073.354],
 [1.0, 7540.497],
 [1.0, 6554.471],
 [1.0, 7240.657999999999],
 [1.0, 7828.779001],
 [1.0, 2879.174995],
 [1.0, 8072.9400000000005],
 [1.0, 6833.652],
 [1.0, 7774.883000000001],
 [1.0, 5766.167999999999],
 [1.0, 8347.091999999999],
 [1.0, 7518.053976],
 [1.0, 2918.1909979999996],
 [1.0, 6853.396989999999],
 [1.0, 6218.916],
 [1.0, 6410.72501],
 [1.0, 6548.7370005],
 [1.0, 8245.05602],
 [1.0, 7184.04],
 [1.0, 2979.5850000000005],
 [1.0, 6491.4619999999995],
 [1.0, 6742.714],
 [1.0, 7049.156],
 [1.0, 5704.196999999999],
 [1.0, 7472.078028],
 [1.0, 6809.218],
 [1.0, 2783.5039859999997],
 [1.0, 5858.375999999999],
 [1.0, 6781.097],
 [1.0, 8213.818],
 [1.0, 7032.032000000001],
 [1.0, 2728.186],
 [1.0, 5479.481],
 [1.0, 2643.16],
 [1.0, 7388.7029999999995],
 [1.0, 7083.304999999999],
 [1.0, 7925.73098],
 [1.0, 6211.811996],
 [1.0, 7963.008000000001],
 [1.0, 7054.226],
 [1.0, 2674.1929800000003],
 [1.0, 6678.795000000001],
 [1.0, 5800.545],
 [1.0, 6939.186000000001],
 [1.0, 6435.694996],
 [1.0, 6961.35903],
 [1.0, 7204.217000000001],
 [1.0, 3230.33],
 [1.0, 6955.54],
 [1.0, 7215.342001],
 [1.0, 9754.941],
 [1.0, 6407.664999999999],
 [1.0, 7730.524005],
 [1.0, 6822.641019999999],
 [1.0, 2857.6779999999994],
 [1.0, 6661.127020000001],
 [1.0, 5705.071010000001],
 [1.0, 6987.636],
 [1.0, 6794.165],
 [1.0, 2707.398],
 [1.0, 7231.594],
 [1.0, 2732.77],
 [1.0, 7291.053],
 [1.0, 7244.744],
 [1.0, 8395.354997999999],
 [1.0, 6711.381],
 [1.0, 8748.510980000001],
 [1.0, 8369.261979999997],
 [1.0, 2382.0260000000003],
 [1.0, 7290.303000000001],
 [1.0, 7231.055980999999],
 [1.0, 8133.482],
 [1.0, 6096.640999999999],
 [1.0, 7561.8679999999995],
 [1.0, 7289.329004],
 [1.0, 3015.681],
 [1.0, 7026.321],
 [1.0, 7511.6590000000015],
 [1.0, 8375.775000000001],
 [1.0, 6775.156999999999],
 [1.0, 8283.12998],
 [1.0, 7028.642999999999],
 [1.0, 3314.924],
 [1.0, 7800.115999999999],
 [1.0, 7897.662004999999],
 [1.0, 8700.202000000001],
 [1.0, 7361.214],
 [1.0, 8799.685004000003],
 [1.0, 8802.474],
 [1.0, 3854.498],
 [1.0, 10818.649996],

In [139]:
## each column is the store number and each row is the sales at each timestep
## from i = 0 to i = 53 different stores
for i in range(len(store_nbr)):
    ts_data.append(sale_store_df1.loc[sale_store_df1['store_nbr']==store_nbr[i]][['store_nbr','sales']].to_numpy().tolist())

In [131]:
ts_gen1 = TimeseriesGenerator()

IndexError: list index out of range

# Training

In [13]:
features = full_df.drop('sales', axis = 1).to_numpy().tolist()
target = full_df.sales.tolist()

n_features=full_df.shape[1]-1
n_steps = 3

# MultiOutput Data

We have to forecast multioutput data

In [14]:
ts_gen = TimeseriesGenerator(features, target, length = 6, sampling_rate = 1, batch_size=1)

In [15]:
multi_target = pd.concat([full_df['sales'],full_df['sales'].shift(-1), full_df['sales'].shift(-2)], axis = 1).to_numpy().tolist()

In [16]:
ts_generator = TimeseriesGenerator(features, multi_target, length = 6, sampling_rate = 1, batch_size = 1, stride = 6)

In [17]:
ts_generator[0]

(array([[[Timestamp('2013-01-01 00:00:00'), 0, 0, 0, 1, 18, 12, 13,
          93.14, 0.0, 1, 4, 50, False, 1, 1, 2013, 0, 0, 0, 1, 0, 0, 0,
          0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0],
         [Timestamp('2013-01-01 00:00:00'), 1, 1, 0, 1, 18, 12, 13,
          93.14, 0.0, 1, 4, 50, False, 1, 1, 2013, 0, 0, 0, 1, 0, 0, 0,
          0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0],
         [Timestamp('2013-01-01 00:00:00'), 2, 2, 0, 1, 18, 12, 13,
          93.14, 0.0, 1, 4, 50, False, 1, 1, 2013, 0, 0, 0, 1, 0, 0, 0,
          0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0],
         [Timestamp('2013-01-01 00:00:00'), 3, 3, 0, 1, 18, 12, 13,
          93.14, 0.0, 1, 4, 50, False, 1, 1, 2013, 0, 0, 0, 1, 0, 0, 0,
          0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0],
         [Timestamp('2013-01-01 00:00:00'), 4, 4, 0, 1, 18, 12, 13,
          93.14, 0.0, 1, 4, 50, False, 1, 1, 2013, 0, 0, 0, 1, 0, 0, 0,
          0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0],
         [Timestamp('2013-01-01 00:00:00'), 5, 5, 0, 1, 18, 12, 13,
          93.14, 0.0, 1, 4, 50, False, 1, 1, 2013, 0, 0, 0, 1, 0, 0, 0,
          0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0]]], dtype=object),
 array([[0., 0., 0.]]))

# Split Train and Test Data

In [18]:
clean_test_df = full_df.loc[full_df['sales'].isnull()]
clean_train_df = full_df.loc[full_df['sales'] >= 0]

In [19]:
# 4 years of training for training split, 2 years for validation split

train_split = clean_train_df.loc[clean_train_df['date'] < pd.to_datetime('2017/01/01', format = '%Y/%m/%d')]
valid_split = clean_train_df.loc[clean_train_df['date'] >= pd.to_datetime('2017/01/01', format = '%Y/%m/%d')]

train_X, train_y = train_split.loc[:, train_split.columns != 'sales'], train_split[['sales', 'date']]
valid_X, valid_y = valid_split.loc[:, valid_split.columns != 'sales'], valid_split[['sales', 'date']]

In [20]:
train_X = train_X.set_index('date').to_numpy().tolist()
train_y = train_y.set_index('date').to_numpy().tolist()
valid_X = valid_X.set_index('date').to_numpy().tolist()
valid_y = valid_y.set_index('date').to_numpy().tolist()

In [21]:
model = Sequential()
model.add(LSTM(50, activation='relu', input_shape = (train_X.shape[0], train_X.shape[1])))
model.add(Dense(1))
model.compile(optimizer='adam', loss = 'mse')

history = model.fit(train_X, train_y, epochs = 10, batch_size = 1, 
                    validation_data = (valid_X, valid_y), verbose = 2, shuffle = False)

AttributeError: 'list' object has no attribute 'shape'